@(imageList: List[is.ru.honn.rustagram.domain.Image])

@import play.api.Play.current

@main(title = "Welcome") {

    <h2>Welcome to Rustagram</h2>

    @if(session.get("username")) {

        <h3>Good to see you again @{session.get("displayName")}!</h3>


        <ol>

        @for(image <- imageList) {
            <li>
                <img src="@image.getUrl">
                <p>@image.getCreatorUsername - @image.getCreated</p>
                <p>@image.getDescription</p>
            </li>
        }
        </ol>

    } else {

        <h3>Looks like you're new here! Welcome!</h3>
        <p>
            <a class="btn" href="@routes.Users.showSignupForm()">Sign up</a>
            <a class="btn" href="@routes.Users.showLoginForm()">Login</a>
        </p>
    }
}