@(imageList: List[is.ru.honn.rustagram.domain.Image])

@import play.api.Play.current
@import helper._
@import helper.twitterBootstrap._

@main(title = "Welcome") {

    <h2>Welcome to Rustagram</h2>

    @if(session.get("username")) {

        <h3>Good to see you again @{session.get("displayName")}!</h3>




        @for(image <- imageList) {
            <div class="row">
                <div class="span8">
                        <a href="http://localhost:9000/view/@image.getId">
                        <img src="@image.getUrl" style="max-width:100%; max-height:100%">
                        </a>
                        <p><b> @image.getCreatorUsername </b> - @image.getDescription - @image.getCreated</p>
                </div>
                <div class="span4">
                    <a href="http://localhost:9000/view/@image.getId">
                        <p>Comments </p>
                    </a>

                </div>
        </div>
        }


    } else {

        <h3>Looks like you're new here! Welcome!</h3>
        <p>
            <a class="btn" href="@routes.Users.showSignupForm()">Sign up</a>
            <a class="btn" href="@routes.Users.showLoginForm()">Login</a>
        </p>
    }
}