@(signupForm: Form[is.ru.honn.rustagram.domain.UserRegistration])

@import helper._
@import helper.twitterBootstrap._
                 <!--String username, String password, String displayName, String email, Gender gender     -->
@main(title = "Signup", nav = "signup") {
    @helper.form(action = routes.Users.processSignupForm) {
        <fieldset>
            <legend>Registration</legend>
            @inputText(
                signupForm("username"),
                '_label -> "Username",
                '_help -> "Enter your username" ,
                '_error -> signupForm.globalError
            )
            @inputPassword(
                signupForm("password"),
                '_label -> "Password" ,
                '_help -> "Password must be at least 6 characters"
            )
            @inputPassword(
                signupForm("repeatPassword"),
                '_label -> "Repeat Password" ,
                '_help -> "Password must be at least 6 characters"
            )

            @inputText(
            signupForm("displayName"),
            '_label -> "display name",
            '_help -> "Enter your preferred display name",
            '_error -> signupForm.globalError
            )

            @inputText(
            signupForm("email"),
            '_label -> "email",
            '_help -> "Enter a valid email address",
            '_error -> signupForm.globalError
            )
            @inputText(
            signupForm("gender"),
            '_label -> "Gender",
            '_help -> "Enter MALE or FEMALE",
            '_error -> signupForm.globalError
            )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Register">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
    }
}