@(image: is.ru.honn.rustagram.domain.Image)

@import helper._
@import helper.twitterBootstrap._

<script>
    function getComments() {
        var xmlhttp = new XMLHttpRequest();
        var image_id = @image.getId;
        var url = "http://localhost:9000/view/" + image_id + "/comments";

        xmlhttp.open('GET', url, true);
        xmlhttp.send(null);

        xmlhttp.onreadystatechange = function() {

        var det = eval("(" + xmlhttp.responsetext + ")");

        console.log(det);

        }
    }

    getComments();

</script>
<div class="row">
    <div class="span10">
        <img src="@image.getUrl" style="max-width:100%; max-height:100%" alt="@image.getDescription" id>
        <p><b> @image.getCreatorUsername </b> - @image.getDescription - @image.getCreated</p>
    </div>
</div>

<div id="comments">

</div>

<div id="addComment">
        <form onsubmit="addComment">
            <input type="text" id="commentText">
            </input>
            <input type="submit" class="btn primary" value="Add comment" id="addComment">


        </form>


</div>




